
html {
    background-color: rgb(214, 208, 202);
    margin-left: 10px;
}
#materias {
    color: rgb(21, 25, 48);
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
    font-weight: bold;
}
#add {
    margin-top: 20px;
}
li {
    margin-right: 20px;
    margin-bottom: 5px;
    font-size: large;
}
ul {
    margin-bottom: 20px;
}
p {
    font-size: large;
    font-weight: bold;
}